<div class="container">
  <div class="row">
    <div class="form-group col-md-8 col-md-offset-2">
      <h1>New Visitor</h1>

      <%= render 'form', visitor: @visitor %>

      <%= link_to 'Back', visitors_path %>
    </div>
  </div>
</div>
