<div class="container">
  <div class="row">
    <div class="form-group col-md-8 col-md-offset-2">
      <h1>Edit Visit for <%= @visitor.name %> </h1>

      <%= render 'form', visit: @visit %>

      <%= link_to 'Back', visitor_path(@visitor) %>
    </div>
  </div>
</div>